In [2]:
# Dependencies and Setup
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
import re
import time 
import datetime 
import numpy as np
from config1 import username1,password1,host1,port1,database1
from config2 import username2,password2,host2,port2,database2
import sqlalchemy
from sqlalchemy import create_engine, func, inspect, desc
pd.options.mode.chained_assignment = None  # default='warn'
import requests
import json
from pandas.io.json import json_normalize

In [3]:
# Database Setup
connection1=f'{username1}:{password1}@{host1}:{port1}/{database1}'
engine1 = create_engine(f'postgresql://{connection1}')

# Pull Data
state_heatmap=pd.read_sql_query('select * from state_heatmap', con=engine1)
usa_heatmap=pd.read_sql_query('select * from usa_heatmap', con=engine1)
county_heatmap=pd.read_sql_query('select * from county_heatmap', con=engine1)
orders=pd.read_sql_query('select * from orders', con=engine1)
state_cases=pd.read_sql_query('select * from state_cases', con=engine1)
state_deaths=pd.read_sql_query('select * from state_deaths', con=engine1)
county_cases1=pd.read_sql_query('select * from county_cases1', con=engine1)
county_cases2=pd.read_sql_query('select * from county_cases2', con=engine1)
county_cases3=pd.read_sql_query('select * from county_cases3', con=engine1)
county_deaths1=pd.read_sql_query('select * from county_deaths1', con=engine1)
county_deaths2=pd.read_sql_query('select * from county_deaths2', con=engine1)
county_deaths3=pd.read_sql_query('select * from county_deaths3', con=engine1)

# Concats
county_cases=pd.concat([county_cases1,county_cases2,county_cases3], ignore_index=True)
county_deaths=pd.concat([county_deaths1,county_deaths2,county_deaths3], ignore_index=True)

In [4]:
state_heatmap

,state,order_date,order_expiration_date,population,total_cases,total_deaths,thisweek_cases,lastweek_cases,thisweek_deaths,lastweek_deaths,per100k,positive_rate
0,Alabama,2020-04-03,2020-04-30,4903185,92661,1633,11546,12224,142,200,1889.812438,12.976804
1,Alaska,2020-03-27,2020-04-24,731545,3341,25,718,673,4,3,456.704646,1.653330
2,Arizona,2020-03-30,2020-05-15,7278717,179497,3779,15670,18644,475,520,2466.052740,18.611950
3,Arkansas,None,None,3017804,44597,475,5150,5520,67,45,1477.796437,8.456011
4,California,2020-03-19,None,39512223,516851,9441,58730,60251,947,724,1308.078768,6.291022
5,Colorado,2020-03-25,2020-04-26,5758736,47950,1844,3403,3999,45,41,832.647998,8.719838
6,Connecticut,2020-03-20,2020-05-20,3565287,50062,4437,1079,928,19,12,1404.150634,6.037516
7,Delaware,2020-03-22,2020-05-31,973764,15055,585,649,782,6,56,1546.062496,8.022530
8,District Of Columbia,2020-03-30,2020-05-29,705749,12313,586,455,519,4,3,1744.671264,6.193195
9,Florida,2020-04-01,2020-05-04,21477737,491884,7157,59137,72353,1226,859,2290.204038,13.107127
10,Georgia,2020-04-02,2020-04-30,10617423,195435,3842,24592,25261,333,332,1840.700893,11.870437
11,Hawaii,2020-03-23,2020-07-17,1415872,2448,26,737,318,0,2,172.896985,1.761485
12,Idaho,2020-03-25,2020-04-30,1787065,21670,200,2978,3424,48,30,1212.602787,11.516319
13,Illinois,2020-03-20,2020-05-29,12671821,184522,7723,10628,9972,115,114,1456.160089,6.571114
14,Indiana,2020-03-23,2020-05-18,6732219,68433,2980,5526,5701,74,81,1016.499909,8.824576
15,Iowa,None,None,3155070,45905,884,3209,3353,48,38,1454.959795,9.423095
16,Kansas,2020-03-28,2020-05-03,2913314,28432,367,2628,3148,34,21,975.933250,9.566690
17,Kentucky,2020-03-22,None,4467673,31508,744,3922,4172,35,38,705.244095,5.248770
18,Louisiana,2020-03-22,2020-05-15,4648794,120846,4024,10929,15025,238,212,2599.512906,8.669570
19,Maine,2020-03-31,2020-05-31,1344212,3970,124,138,121,5,2,295.340318,2.279709
20,Maryland,2020-03-30,2020-05-13,6045680,91144,3523,6268,6191,76,65,1507.588890,9.487871
21,Massachusetts,2020-03-24,2020-06-08,6892503,118657,8648,2731,2137,112,103,1721.537154,9.671664
22,Michigan,2020-03-23,2020-06-01,9986857,92374,6467,5201,4778,62,32,924.955669,4.794109
23,Minnesota,2020-03-25,2020-05-18,5639632,56560,1656,4757,4696,40,31,1002.902317,6.486209
24,Mississippi,2020-04-01,2020-04-27,2976149,61125,1711,8344,8892,213,140,2053.828622,13.210018
25,Missouri,2020-04-03,2020-05-03,6626371,53214,1279,9725,9387,58,83,803.064000,7.418073
26,Montana,2020-03-26,2020-04-27,1068778,4233,64,853,760,17,8,396.059799,2.358112
27,Nebraska,None,None,1934408,26956,328,2057,2052,11,4,1393.501268,9.498908
28,Nevada,2020-03-31,2020-05-08,3080156,51199,847,7368,7118,108,91,1662.221004,10.559412
29,New Hampshire,2020-03-26,2020-06-16,1359711,6660,417,219,192,8,11,489.809967,4.079399
30,New Jersey,2020-03-21,2020-06-09,8882190,182614,15846,2802,2849,42,89,2055.956921,8.436463
31,New Mexico,2020-03-23,2020-05-31,2096829,21130,655,1628,2287,36,41,1007.712121,3.659711
32,New York,2020-03-20,2020-06-08,26161672,416843,32719,4499,5018,74,139,1593.334707,6.852844
33,North Carolina,2020-03-27,2020-05-20,10488084,127630,2043,12714,13685,205,161,1216.904823,6.886433
34,North Dakota,None,None,762062,6785,105,799,860,6,6,890.347505,4.273989
35,Ohio,2020-03-22,2020-05-20,11689100,93963,3539,8786,9009,195,155,803.851451,6.119203
36,Oklahoma,2020-04-01,2020-04-30,3956971,38602,551,5917,7249,55,44,975.544173,6.049873
37,Oregon,2020-03-23,2020-05-14,4217737,19366,328,2278,2241,39,27,459.156178,4.642666
38,Pennsylvania,2020-04-01,2020-06-04,12801989,118894,7224,5899,6590,93,106,928.715061,9.084658
39,Puerto Rico,2020-03-15,2020-06-12,3754939,18791,230,3360,2970,29,21,500.434228,5.786066
40,Rhode Island,2020-03-30,2020-05-08,1059361,19246,1010,731,611,6,9,1816.755572,9.161882
41,South Carolina,2020-04-06,2020-05-04,5148714,92951,1793,10534,10972,287,342,1805.324592,12.703864
42,South Dakota,2020-03-23,2020-04-28,884659,9020,135,576,501,12,5,1019.601903,7.867560
43,Tennessee,2020-03-30,2020-04-29,6829174,110636,1092,14147,16735,114,131,1620.049511,7.026591
44,Texas,2020-03-31,2020-04-30,28995881,456624,7016,56288,56553,1303,1607,1574.789192,11.527033
45,Utah,2020-03-27,2020-05-01,3205958,41529,314,3120,3883,33,34,1295.369434,7.687964
46,Vermont,2020-03-24,2020-05-15,623989,1427,57,25,42,1,0,228.689929,1.467533
47,Virginia,2020-03-30,2020-06-04,8535519,93106,2218,7034,7697,136,51,1090.806546,8.060372
48,Washington,2020-03-23,2020-05-31,7614893,58715,1600,5394,5578,82,65,771.054826,5.769528
49,West Virginia,2020-03-23,2020-05-04,1792147,6978,117,979,915,13,4,389.365381,2.363360
50,Wisconsin,2020-03-24,2020-05-13,5822434,55328,949,5911,6399,56,47,950.255512,6.118541
51,Wyoming,None,None,578759,2848,27,328,333,2,1,492.087380,5.189504

In [5]:
usa_heatmap

,population,total_cases,total_deaths,thisweek_cases,lastweek_cases,thisweek_deaths,lastweek_deaths,positive_rate,per100k,lastdate
0,339191516,4712528,155384,423096,455568,7389,6986,8.157476,1389.341354,8/3/20

In [6]:
county_heatmap

,fips,county,state,total_cases,total_deaths,thisweek_cases,lastweek_cases,thisweek_deaths,lastweek_deaths,population,per100k
0,72001,Adjuntas,Puerto Rico,86,0,9,5,0,0,19483,441.410460
1,72003,Aguada,Puerto Rico,108,0,16,21,0,0,41959,257.394123
2,72005,Aguadilla,Puerto Rico,192,0,36,44,0,0,60949,315.017474
3,72007,Aguas Buenas,Puerto Rico,114,0,20,13,0,0,28659,397.780802
4,72009,Aibonito,Puerto Rico,79,0,9,10,0,0,25900,305.019305
...,...,...,...,...,...,...,...,...,...,...,...
3215,56037,Sweetwater,Wyoming,250,0,29,40,0,0,42343,590.416362
3216,56039,Teton,Wyoming,358,0,66,69,0,0,23464,1525.741562
3217,56041,Uinta,Wyoming,265,0,30,13,0,0,20226,1310.194799
3218,56043,Washakie,Wyoming,49,0,4,1,0,0,7805,627.802691
3219,56045,Weston,Wyoming,5,0,0,1,0,0,6927,72.181319

In [7]:
orders

                   state  order_date order_expiration_date
0                Alabama  2020-04-03            2020-04-30
1                 Alaska  2020-03-27                  None
2                Arizona  2020-03-30            2020-05-15
3               Arkansas        None                  None
4             California  2020-03-19                  None
5               Colorado  2020-03-25            2020-04-26
6            Connecticut  2020-03-20            2020-05-20
7               Delaware  2020-03-22            2020-05-31
8   District of Columbia  2020-03-30            2020-05-29
9                Florida  2020-04-01            2020-05-04
10               Georgia  2020-04-02            2020-04-30
11                Hawaii  2020-03-23            2020-07-31
12                 Idaho  2020-03-25            2020-04-30
13              Illinois  2020-03-20            2020-05-29
14               Indiana  2020-03-23            2020-05-18
15                  Iowa        None                  None
16                Kansas  2020-03-28            2020-05-03
17              Kentucky  2020-03-22                  None
18             Louisiana  2020-03-22            2020-05-15
19                 Maine  2020-03-31            2020-05-31
20              Maryland  2020-03-30            2020-05-13
21         Massachusetts  2020-03-24                  None
22              Michigan  2020-03-23            2020-06-01
23             Minnesota  2020-03-25            2020-05-18
24           Mississippi  2020-04-01            2020-04-27
25              Missouri  2020-04-03            2020-05-03
26               Montana  2020-03-26            2020-04-27
27              Nebraska        None                  None
28                Nevada  2020-03-31            2020-05-08
29         New Hampshire  2020-03-26            2020-06-16
30            New Jersey  2020-03-21            2020-06-09
31            New Mexico  2020-03-23            2020-05-31
32              New York  2020-03-20            2020-06-08
33        North Carolina  2020-03-27            2020-05-20
34          North Dakota        None                  None
35                  Ohio  2020-03-22            2020-05-20
36              Oklahoma  2020-04-01            2020-04-30
37                Oregon  2020-03-23            2020-05-14
38          Pennsylvania  2020-04-01            2020-06-04
39           Puerto Rico  2020-03-15                  None
40          Rhode Island  2020-03-30            2020-05-08
41        South Carolina  2020-04-06            2020-05-04
42          South Dakota  2020-03-23            2020-04-28
43             Tennessee  2020-03-30            2020-04-29
44                 Texas  2020-03-31            2020-04-30
45                  Utah  2020-03-27            2020-05-01
46               Vermont  2020-03-24                  None
47              Virginia  2020-03-30            2020-06-04
48            Washington  2020-03-23            2020-05-31
49         West Virginia  2020-03-23            2020-05-04
50             Wisconsin  2020-03-24            2020-05-13
51               Wyoming        None                  None

In [8]:
state_cases

,State,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,7/22/20,7/23/20,7/24/20,7/25/20,7/26/20,7/27/20,7/28/20,7/29/20,7/30/20,7/31/20
0,Alabama,0,0,0,0,0,0,0,0,0,...,71813,74212,76005,78130,79294,81115,82366,83782,85762,87723
1,Alaska,0,0,0,0,0,0,0,0,0,...,2131,2193,2249,2339,2525,2623,2730,2798,2879,2990
2,Arizona,0,0,0,0,1,1,1,1,1,...,150609,152944,156301,160041,162014,163827,165934,168273,170798,174010
3,Arkansas,0,0,0,0,0,0,0,0,0,...,35246,36259,37249,37981,38623,39447,40181,40968,41759,42511
4,California,0,0,0,0,2,2,2,2,2,...,421286,430773,440185,446452,452288,458121,470762,484913,492934,500556
5,Colorado,0,0,0,0,0,0,0,0,0,...,41680,42295,42962,43771,44318,44547,45296,45778,46186,46791
6,Connecticut,0,0,0,0,0,0,0,0,0,...,48223,48232,48776,48776,48776,48983,49077,49540,49670,49810
7,Delaware,0,0,0,0,0,0,0,0,0,...,13792,13924,14202,14175,14290,14406,14476,14602,14689,14788
8,District of Columbia,0,0,0,0,0,0,0,0,0,...,11529,11571,11649,11717,11780,11858,11945,11999,12057,12057
9,Florida,0,0,0,0,0,0,0,0,0,...,379619,389868,402312,414511,423855,432747,441977,451423,461379,470386
10,Georgia,0,0,0,0,0,0,0,0,0,...,152302,156607,161420,165188,167953,170843,175052,178323,182286,186352
11,Hawaii,0,0,0,0,0,0,0,0,0,...,1435,1490,1549,1620,1683,1711,1757,1865,1989,2111
12,Idaho,0,0,0,0,0,0,0,0,0,...,16322,16737,17265,17826,18178,18692,19220,19674,20242,20716
13,Illinois,0,0,1,1,1,1,1,1,1,...,166475,168096,169696,171122,172663,173894,174968,176363,178135,180115
14,Indiana,0,0,0,0,0,0,0,0,0,...,58673,59602,60598,61520,62372,62907,63678,64299,65253,66154
15,Iowa,0,0,0,0,0,0,0,0,0,...,40208,40796,41434,41886,42357,42696,42928,43623,44285,44753
16,Kansas,0,0,0,0,0,0,0,0,0,...,23481,23956,24554,25009,25290,25804,26058,26591,26885,27364
17,Kentucky,0,0,0,0,0,0,0,0,0,...,24540,25147,25932,26764,27082,27586,28111,28727,29386,30151
18,Louisiana,0,0,0,0,0,0,0,0,0,...,99354,101650,103734,103734,107574,109917,111038,112773,114481,116280
19,Maine,0,0,0,0,0,0,0,0,0,...,3722,3737,3757,3790,3814,3832,3838,3866,3888,3912
20,Maryland,0,0,0,0,0,0,0,0,0,...,80172,80836,81766,83054,83748,84876,85524,86285,87177,88346
21,Massachusetts,0,0,0,0,0,0,0,0,0,...,114320,114647,114985,115268,115637,115926,116182,116684,117098,117612
22,Michigan,0,0,0,0,0,0,0,0,0,...,83730,84431,85072,85622,86661,87173,87958,88974,89781,90574
23,Minnesota,0,0,0,0,0,0,0,0,0,...,47961,48721,49488,50291,51153,51803,52281,52947,53692,54463
24,Mississippi,0,0,0,0,0,0,0,0,0,...,47071,48053,49585,50981,52154,52781,54085,55804,57579,58747
25,Missouri,0,0,0,0,0,0,0,0,0,...,36497,38060,39635,41034,42160,43489,45181,46942,49139,50616
26,Montana,0,0,0,0,0,0,0,0,0,...,2812,2909,3038,3259,3341,3380,3474,3676,3814,3965
27,Nebraska,0,0,0,0,0,0,0,0,0,...,23486,23818,24174,24395,24618,24899,25157,25422,25766,26211
28,Nevada,0,0,0,0,0,0,0,0,0,...,38657,39919,40885,41816,42843,43831,44936,45806,46824,48088
29,New Hampshire,0,0,0,0,0,0,0,0,0,...,6295,6318,6375,6415,6436,6441,6500,6513,6544,6583
30,New Jersey,0,0,0,0,0,0,0,0,0,...,177645,177887,178345,178858,179363,179812,180295,180600,180970,181660
31,New Mexico,0,0,0,0,0,0,0,0,0,...,17828,18163,18475,18788,19042,19502,19791,20136,20388,20600
32,New York,0,0,0,0,0,0,0,0,0,...,408886,409697,410450,411200,411736,412344,412878,413593,414370,415014
33,North Carolina,0,0,0,0,0,0,0,0,0,...,105276,107125,109728,111421,112937,114916,116700,118387,120532,122298
34,North Dakota,0,0,0,0,0,0,0,0,0,...,5367,5493,5614,5736,5876,5986,6141,6227,6301,6469
35,Ohio,0,0,0,0,0,0,0,0,0,...,78742,80186,81746,83184,84073,85177,86497,87893,89626,91159
36,Oklahoma,0,0,0,0,0,0,0,0,0,...,27298,27969,29116,30081,31285,32685,33775,34623,35740,36487
37,Oregon,0,0,0,0,0,0,0,0,0,...,15393,15713,16104,16492,16758,17088,17408,17721,18131,18492
38,Pennsylvania,0,0,0,0,0,0,0,0,0,...,108223,109105,110292,111115,111745,112995,114083,114939,115807,116787
39,Puerto Rico,0,0,0,0,0,0,0,0,0,...,13038,13473,13967,14540,15143,15431,15840,16061,16572,16781
40,Rhode Island,0,0,0,0,0,0,0,0,0,...,18062,18148,18224,18224,18224,18515,18725,18800,18950,19022
41,South Carolina,0,0,0,0,0,0,0,0,0,...,75042,76606,78607,80008,81199,82417,84109,85846,87572,89016
42,South Dakota,0,0,0,0,0,0,0,0,0,...,8077,8143,8200,8305,8395,8444,8492,8641,8685,8764
43,Tennessee,0,0,0,0,0,0,0,0,0,...,84417,86987,89078,90796,93936,96489,99044,100822,102871,105959
44,Texas,0,0,0,0,0,0,0,0,0,...,363615,373037,380364,390286,394084,400336,408493,418995,428229,438293
45,Utah,0,0,0,0,0,0,0,0,0,...,35578,36099,36962,37623,37973,38409,38855,39194,39696,40196
46,Vermont,0,0,0,0,0,0,0,0,0,...,1366,1377,1385,1396,1400,1402,1405,1406,1407,1414
47,Virginia,0,0,0,0,0,0,0,0,0,...,80393,81237,82364,83609,84567,86072,86994,87993,88904,89888
48,Washington,1,1,1,1,1,1,1,1,1,...,49247,50009,50824,51849,52635,53321,54205,54985,55803,55803
49,West Virginia,0,0,0,0,0,0,0,0,0,...,5212,5452,5653,5775,5889,5999,6120,6277,6375,6579
50,Wisconsin,0,0,0,0,0,0,0,0,0,...,44847,45899,46917,47870,48827,49417,50179,51049,52108,52940
51,Wyoming,0,0,0,0,0,0,0,0,0,...,2288,2347,2405,2446,2475,2520,2589,2628,2686,2726

In [9]:
state_deaths

,State,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,7/22/20,7/23/20,7/24/20,7/25/20,7/26/20,7/27/20,7/28/20,7/29/20,7/30/20,7/31/20
0,Alabama,0,0,0,0,0,0,0,0,0,...,1364,1397,1438,1456,1473,1491,1491,1538,1565,1580
1,Alaska,0,0,0,0,0,0,0,0,0,...,19,19,19,20,20,21,22,22,23,23
2,Arizona,0,0,0,0,0,0,0,0,0,...,2974,3063,3143,3286,3305,3304,3408,3454,3626,3694
3,Arkansas,0,0,0,0,0,0,0,0,0,...,380,386,394,399,401,408,428,434,442,453
4,California,0,0,0,0,0,0,0,0,0,...,8047,8201,8337,8408,8448,8494,8679,8908,9026,9214
5,Colorado,0,0,0,0,0,0,0,0,0,...,1771,1786,1790,1794,1794,1799,1807,1822,1822,1838
6,Connecticut,0,0,0,0,0,0,0,0,0,...,4406,4410,4413,4413,4413,4418,4423,4425,4431,4432
7,Delaware,0,0,0,0,0,0,0,0,0,...,527,529,578,579,579,579,580,581,581,585
8,District of Columbia,0,0,0,0,0,0,0,0,0,...,580,581,581,581,581,582,583,584,584,584
9,Florida,0,0,0,0,0,0,0,0,0,...,5345,5518,5653,5777,5854,5931,6117,6333,6586,6843
10,Georgia,0,0,0,0,0,0,0,0,0,...,3335,3361,3443,3494,3498,3509,3563,3642,3671,3752
11,Hawaii,0,0,0,0,0,0,0,0,0,...,25,26,26,26,26,26,26,26,26,26
12,Idaho,0,0,0,0,0,0,0,0,0,...,135,138,144,146,146,152,160,173,177,188
13,Illinois,0,0,0,0,0,0,0,0,0,...,7540,7560,7577,7589,7590,7608,7638,7654,7670,7692
14,Indiana,0,0,0,0,0,0,0,0,0,...,2863,2880,2884,2895,2903,2906,2924,2932,2946,2965
15,Iowa,0,0,0,0,0,0,0,0,0,...,814,820,826,826,829,836,839,854,865,872
16,Kansas,0,0,0,0,0,0,0,0,0,...,321,322,330,329,331,333,340,349,357,358
17,Kentucky,0,0,0,0,0,0,0,0,0,...,677,684,691,696,700,709,719,724,731,735
18,Louisiana,0,0,0,0,0,0,0,0,0,...,3670,3686,3715,3715,3763,3786,3812,3883,3925,3949
19,Maine,0,0,0,0,0,0,0,0,0,...,118,118,118,119,119,119,121,121,122,123
20,Maryland,0,0,0,0,0,0,0,0,0,...,3405,3409,3422,3433,3440,3447,3458,3478,3488,3493
21,Massachusetts,0,0,0,0,0,0,0,0,0,...,8468,8484,8498,8510,8529,8536,8551,8580,8580,8609
22,Michigan,0,0,0,0,0,0,0,0,0,...,6388,6395,6400,6400,6400,6405,6421,6422,6443,6450
23,Minnesota,0,0,0,0,0,0,0,0,0,...,1592,1601,1606,1611,1614,1616,1620,1629,1634,1640
24,Mississippi,0,0,0,0,0,0,0,0,0,...,1423,1436,1463,1478,1493,1498,1540,1563,1611,1663
25,Missouri,0,0,0,0,0,0,0,0,0,...,1159,1189,1195,1200,1209,1221,1232,1239,1255,1265
26,Montana,0,0,0,0,0,0,0,0,0,...,42,43,46,46,46,47,51,54,55,60
27,Nebraska,0,0,0,0,0,0,0,0,0,...,311,316,316,316,316,317,321,324,328,332
28,Nevada,0,0,0,0,0,0,0,0,0,...,704,709,722,732,734,739,759,780,801,830
29,New Hampshire,0,0,0,0,0,0,0,0,0,...,402,405,407,409,409,409,409,411,415,415
30,New Jersey,0,0,0,0,0,0,0,0,0,...,15707,15730,15765,15776,15787,15804,15825,15798,15809,15819
31,New Mexico,0,0,0,0,0,0,0,0,0,...,591,596,601,607,614,619,626,632,635,642
32,New York,0,0,0,0,0,0,0,0,0,...,32558,32594,32596,32608,32630,32645,32653,32658,32683,32689
33,North Carolina,0,0,0,0,0,0,0,0,0,...,1732,1756,1789,1811,1817,1838,1860,1888,1922,1942
34,North Dakota,0,0,0,0,0,0,0,0,0,...,96,97,99,99,99,99,100,102,103,103
35,Ohio,0,0,0,0,0,0,0,0,0,...,3235,3256,3297,3297,3307,3344,3382,3422,3442,3489
36,Oklahoma,0,0,0,0,0,0,0,0,0,...,474,477,484,496,496,496,509,523,536,541
37,Oregon,0,0,0,0,0,0,0,0,0,...,271,273,282,285,289,289,303,311,316,322
38,Pennsylvania,0,0,0,0,0,0,0,0,0,...,7077,7093,7116,7124,7127,7131,7154,7171,7194,7207
39,Puerto Rico,0,0,0,0,0,0,0,0,0,...,185,188,191,201,201,201,209,211,214,219
40,Rhode Island,0,0,0,0,0,0,0,0,0,...,997,1001,1002,1002,1002,1004,1005,1007,1007,1007
41,South Carolina,0,0,0,0,0,0,0,0,0,...,1285,1334,1385,1465,1491,1506,1565,1615,1667,1712
42,South Dakota,0,0,0,0,0,0,0,0,0,...,119,121,122,122,123,123,123,129,129,130
43,Tennessee,0,0,0,0,0,0,0,0,0,...,888,925,938,964,967,978,999,1020,1033,1060
44,Texas,0,0,0,0,0,0,0,0,0,...,4453,4636,4804,4990,5076,5713,5977,6302,6442,6576
45,Utah,0,0,0,0,0,0,0,0,0,...,260,267,273,274,274,281,286,292,300,304
46,Vermont,0,0,0,0,0,0,0,0,0,...,56,56,56,56,56,56,56,56,57,57
47,Virginia,0,0,0,0,0,0,0,0,0,...,2051,2054,2067,2075,2078,2082,2095,2125,2141,2174
48,Washington,0,0,0,0,0,0,0,0,0,...,1468,1482,1495,1494,1501,1518,1548,1555,1564,1564
49,West Virginia,0,0,0,0,0,0,0,0,0,...,101,102,103,103,103,104,108,111,112,116
50,Wisconsin,0,0,0,0,0,0,0,0,0,...,865,878,878,891,892,893,906,911,919,934
51,Wyoming,0,0,0,0,0,0,0,0,0,...,25,25,25,25,25,25,26,26,26,26

In [10]:
county_cases

,FIPS,County,State,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,7/25/20,7/26/20,7/27/20,7/28/20,7/29/20,7/30/20,7/31/20,8/1/20,8/2/20,8/3/20
0,21007,Ballard,Kentucky,0,0,0,0,0,0,0,...,28,28,28,28,29,30,30,NaN,NaN,NaN
1,21009,Barren,Kentucky,0,0,0,0,0,0,0,...,247,250,262,276,290,302,315,NaN,NaN,NaN
2,21011,Bath,Kentucky,0,0,0,0,0,0,0,...,27,28,29,31,31,32,32,NaN,NaN,NaN
3,21013,Bell,Kentucky,0,0,0,0,0,0,0,...,221,230,234,239,260,262,267,NaN,NaN,NaN
4,21015,Boone,Kentucky,0,0,0,0,0,0,0,...,922,929,934,946,957,965,984,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2141,56037,Sweetwater,Wyoming,0,0,0,0,0,0,0,...,214,215,221,228,234,237,240,NaN,NaN,NaN
2142,56039,Teton,Wyoming,0,0,0,0,0,0,0,...,275,279,292,311,318,331,335,NaN,NaN,NaN
2143,56041,Uinta,Wyoming,0,0,0,0,0,0,0,...,232,233,235,243,245,247,254,NaN,NaN,NaN
2144,56043,Washakie,Wyoming,0,0,0,0,0,0,0,...,45,45,45,45,45,46,48,NaN,NaN,NaN
2145,56045,Weston,Wyoming,0,0,0,0,0,0,0,...,4,4,5,5,5,5,5,NaN,NaN,NaN

In [11]:
county_deaths

,FIPS,County,State,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,7/22/20,7/23/20,7/24/20,7/25/20,7/26/20,7/27/20,7/28/20,7/29/20,7/30/20,7/31/20
0,72001,Adjuntas,Puerto Rico,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,72003,Aguada,Puerto Rico,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,72005,Aguadilla,Puerto Rico,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,72007,Aguas Buenas,Puerto Rico,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,72009,Aibonito,Puerto Rico,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,56037,Sweetwater,Wyoming,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3216,56039,Teton,Wyoming,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3217,56041,Uinta,Wyoming,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3218,56043,Washakie,Wyoming,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3219,56045,Weston,Wyoming,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0