In [1]:
# Dependencies and Setup
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
import re
import time 
import datetime 
import numpy as np
from config1 import username1,password1,host1,port1,database1
from config2 import username2,password2,host2,port2,database2
import sqlalchemy
from sqlalchemy import create_engine, func, inspect, desc
pd.options.mode.chained_assignment = None  # default='warn'
import requests
import json
from pandas.io.json import json_normalize

In [2]:
# Database Setup
connection1=f'{username1}:{password1}@{host1}:{port1}/{database1}'
engine1 = create_engine(f'postgresql://{connection1}')

# Pull Data
state_cases=pd.read_sql_query('select * from state_cases', con=engine1)
state_deaths=pd.read_sql_query('select * from state_deaths', con=engine1)
county_cases1=pd.read_sql_query('select * from county_cases1', con=engine1)
county_cases2=pd.read_sql_query('select * from county_cases2', con=engine1)
county_cases3=pd.read_sql_query('select * from county_cases3', con=engine1)
county_deaths1=pd.read_sql_query('select * from county_deaths1', con=engine1)
county_deaths2=pd.read_sql_query('select * from county_deaths2', con=engine1)
county_deaths3=pd.read_sql_query('select * from county_deaths3', con=engine1)

# Concats
county_cases=pd.concat([county_cases1,county_cases2,county_cases3], ignore_index=True)
county_deaths=pd.concat([county_deaths1,county_deaths2,county_deaths3], ignore_index=True)

In [46]:
state_cases_processed=pd.DataFrame([],columns=['day1','day2','day3','day4','day5','day6','day7','day8'])
cols=state_cases_processed.columns
[r,c]=state_cases.shape
for j in range (0,r):
    last=0
    for i in range (1,c-7):
        temp=pd.DataFrame(state_cases.iloc[j,i:i+8]).T
        if temp.iloc[0,1]>0:
            new_cols = {x: y for x, y in zip(temp.columns, cols)}
            state_cases_processed = state_cases_processed.append(temp.rename(columns=new_cols))

In [47]:
state_cases_processed

    day1  day2  day3  day4  day5  day6  day7  day8
0      0     5     7    11    29    39    51    78
0      5     7    11    29    39    51    78   106
0      7    11    29    39    51    78   106   131
0     11    29    39    51    78   106   131   157
0     29    39    51    78   106   131   157   196
..   ...   ...   ...   ...   ...   ...   ...   ...
51  2347  2405  2446  2475  2520  2589  2628  2686
51  2405  2446  2475  2520  2589  2628  2686  2726
51  2446  2475  2520  2589  2628  2686  2726  2769
51  2475  2520  2589  2628  2686  2726  2769  2808
51  2520  2589  2628  2686  2726  2769  2808  2848

[7630 rows x 8 columns]

In [49]:
state_deaths_processed=pd.DataFrame([],columns=['day1','day2','day3','day4','day5','day6','day7','day8'])
cols=state_deaths_processed.columns
[r,c]=state_deaths.shape
for j in range (0,r):
    last=0
    for i in range (1,c-7):
        temp=pd.DataFrame(state_deaths.iloc[j,i:i+8]).T
        if temp.iloc[0,1]>0:
            new_cols = {x: y for x, y in zip(temp.columns, cols)}
            state_deaths_processed = state_deaths_processed.append(temp.rename(columns=new_cols))

In [50]:
state_deaths_processed

   day1 day2 day3 day4 day5 day6 day7 day8
0     0    1    1    4    4   10   10   23
0     1    1    4    4   10   10   23   27
0     1    4    4   10   10   23   27   32
0     4    4   10   10   23   27   32   38
0     4   10   10   23   27   32   38   44
..  ...  ...  ...  ...  ...  ...  ...  ...
51   25   25   25   25   25   26   26   26
51   25   25   25   25   26   26   26   26
51   25   25   25   26   26   26   26   26
51   25   25   26   26   26   26   26   26
51   25   26   26   26   26   26   26   27

[6837 rows x 8 columns]

In [55]:
county_cases_processed=pd.DataFrame([],columns=['day1','day2','day3','day4','day5','day6','day7','day8'])
cols=county_cases_processed.columns
[r,c]=county_cases.shape
for j in range (0,r):
    last=0
    for i in range (3,c-7):
        temp=pd.DataFrame(county_cases.iloc[j,i:i+8]).T
        if temp.iloc[0,1]>0:
            new_cols = {x: y for x, y in zip(temp.columns, cols)}
            county_cases_processed = county_cases_processed.append(temp.rename(columns=new_cols))

In [56]:
county_cases_processed

     day1 day2 day3 day4 day5 day6 day7 day8
0       0    3    3    3    3    4    4    4
0       3    3    3    3    4    4    4    4
0       3    3    3    4    4    4    4    4
0       3    3    4    4    4    4    4    4
0       3    4    4    4    4    4    4    4
...   ...  ...  ...  ...  ...  ...  ...  ...
3219    4    4    4    4    5    5    5    5
3219    4    4    4    5    5    5    5    5
3219    4    4    5    5    5    5    5    5
3219    4    5    5    5    5    5    5    5
3219    5    5    5    5    5    5    5    5

[372518 rows x 8 columns]

In [57]:
county_deaths_processed=pd.DataFrame([],columns=['day1','day2','day3','day4','day5','day6','day7','day8'])
cols=county_deaths_processed.columns
[r,c]=county_deaths.shape
for j in range (0,r):
    last=0
    for i in range (3,c-7):
        temp=pd.DataFrame(county_deaths.iloc[j,i:i+8]).T
        if temp.iloc[0,1]>0:
            new_cols = {x: y for x, y in zip(temp.columns, cols)}
            county_deaths_processed = county_deaths_processed.append(temp.rename(columns=new_cols))

In [58]:
county_deaths_processed

     day1 day2 day3 day4 day5 day6 day7 day8
78      0    1    1    1    1    1    1    1
78      1    1    1    1    1    1    1    1
78      1    1    1    1    1    1    1    1
78      1    1    1    1    1    1    1    1
78      1    1    1    1    1    1    1    2
...   ...  ...  ...  ...  ...  ...  ...  ...
3206    1    1    1    1    1    1    1    1
3206    1    1    1    1    1    1    1    1
3206    1    1    1    1    1    1    1    1
3206    1    1    1    1    1    1    1    1
3206    1    1    1    1    1    1    1    1

[197618 rows x 8 columns]