In [12]:
import os
from flask import (
    Flask,
    render_template,
    jsonify,
    request,
    redirect)
from config1 import username1,password1,host1,port1,database1
import sqlalchemy
from sqlalchemy import create_engine, func, inspect, desc
import pandas as pd

In [13]:
connection1=f'{username1}:{password1}@{host1}:{port1}/{database1}'
engine1 = create_engine(f'postgresql://{connection1}')

In [17]:
state_heatmap=pd.read_sql_query('select * from state_heatmap', con=engine1,index_col='state').head()
state_heatmap=state_heatmap.reset_index()
state_heatmap

,state,order_date,order_expiration_date,population,total_cases,total_deaths,per100k,thisweek_cases,lastweek_cases,thisweek_deaths,lastweek_deaths,positive_rate
0,Alabama,2020-04-03,2020-04-30,4903185,34964,898,713.087514,5366,4363,69,61,9.452240
1,Alaska,2020-03-27,None,731545,880,14,120.293352,128,92,2,0,0.831578
2,Arizona,2020-03-30,2020-05-15,7278717,73919,1593,1015.549856,21328,16885,245,159,14.573650
3,Arkansas,None,None,3017804,19106,264,633.109374,3742,3488,121,65,6.695732
4,California,2020-03-19,None,39512223,215296,5932,544.884554,4116,2829,39,46,5.331522

In [18]:
state_heatmap=state_heatmap.to_json(orient='records')

In [19]:
state_heatmap

'[{"state":"Alabama","order_date":"2020-04-03","order_expiration_date":"2020-04-30","population":4903185,"total_cases":34964,"total_deaths":898,"per100k":713.0875135244,"thisweek_cases":5366,"lastweek_cases":4363,"thisweek_deaths":69,"lastweek_deaths":61,"positive_rate":9.4522404416},{"state":"Alaska","order_date":"2020-03-27","order_expiration_date":null,"population":731545,"total_cases":880,"total_deaths":14,"per100k":120.2933517419,"thisweek_cases":128,"lastweek_cases":92,"thisweek_deaths":2,"lastweek_deaths":0,"positive_rate":0.8315778822},{"state":"Arizona","order_date":"2020-03-30","order_expiration_date":"2020-05-15","population":7278717,"total_cases":73919,"total_deaths":1593,"per100k":1015.5498558331,"thisweek_cases":21328,"lastweek_cases":16885,"thisweek_deaths":245,"lastweek_deaths":159,"positive_rate":14.5736503833},{"state":"Arkansas","order_date":null,"order_expiration_date":null,"population":3017804,"total_cases":19106,"total_deaths":264,"per100k":633.109373571,"thisweek_cases":3742,"lastweek_cases":3488,"thisweek_deaths":121,"lastweek_deaths":65,"positive_rate":6.6957320782},{"state":"California","order_date":"2020-03-19","order_expiration_date":null,"population":39512223,"total_cases":215296,"total_deaths":5932,"per100k":544.8845538253,"thisweek_cases":4116,"lastweek_cases":2829,"thisweek_deaths":39,"lastweek_deaths":46,"positive_rate":5.3315219372}]'